
body{
  background-color: aqua;
}
div.col-xs-offset-2.col-xs-9.col-md-10{
  padding-right: 0px;
  padding-left: 0px;
}
h1{
  color: blue;
  background-color: silver;
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 15px;
  border:1px solid blue;
}
input{  
  height: 40px;
  border-radius: 15px;
  text-align:center;
  margin-top: 5px;
  border:none;
  border-left: 15px solid blue;
  color:blue;
}

input::-webkit-input-placeholder {
  color: blue;
}
input::-moz-placeholder {
  color: blue;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  color: blue;
}
input:-ms-input-placeholder { 
  color: blue;
}

label.col-xs-2.col-md-2{
  float:left;
  text-align: right;
  padding-top: 15px;
}


.label{  
}
.alert-danger {
  height: 50px;
  margin:0;
  font-size: 18px ;
}

.btn{
  margin-top: 10px;
  border:1px solid black;
}
.completed{
  color: brown;
  text-decoration: line-through;
}
.date-display{
  color: orange;
  font-size: .5em;
}

.editFormStyle{
  font-size: 12px;
}

.expired{
  color: red;
}
.expires{
  font-size: 0.5em;
}
:focus {
  outline:none;border:2px solid blue;
  background-color: white  ;
}


.form-group{
}

.hideMe{
  display:none;
}
input#myDate{
  padding-left: 70px;
}

.miniHeader{
  color: black;
  height: 3em;
}
.mobileWidth{
  min-width: 320px;
}
.my-list{
  color: blue;
  font-size: 1em;
  padding-left: 0px;
}
.my-list li{
    border-radius: 15px;
    /*border:1px solid blue;*/
    border-left: 15px solid blue;
    list-style: none;
    background-color: white;
    margin-top: 5px;
    padding: 10px;
}
#submit{
  margin-top: 0px;
  color: white;
  background-color: grey;
}
#submit:hover{
  background-color: red;
}
.taskInput{
}
.titleInput{
}

.topStyle{
}


